.lead__image {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: 580px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        height: 480px;
        width: calc(100% + 48px);
    }
}

@media screen and (max-width: 470px) {
    .lead__image {
        width: calc(100% + 48px);
    }
}


@media screen and (max-width: 424px) {
    .lead__image {
        height: 200px;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
        width: calc(100% + 32px);
    }
}