.lead__image {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .lead__image {
     max-width: 928px;
    }
  }

  
