.cover {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .cover { 
    margin-top: 140px;
    margin-bottom: 88px;
  }
}

  @media screen and (max-width: 425px) {
    .cover { 
      margin-top: 64px;
      margin-bottom: 64px;
    }
  }