.page__container {
    max-width: 1184px;
    min-width: 320px;
    width: auto;
    padding: 0 48px;
    margin: 28px auto;
    color: white;
}

@media screen and (max-width: 768px) {
    .page__container { 
      min-width: auto;
      padding: 0 24px;
    }
  }

  @media screen and (max-width: 320px) {
    .page__container { 
      margin: 16px auto;
      padding: 0 16px;
    }
  }